<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <header>
        <div id="navbar">
            <p><a id="homeLink" href="/">Home</a></p>
            <p><a id="DashLink" href="/dashboard">Dashboard</a></p>
            {{#if loggedIn}}
                <p><a id="logLink" href="/login">Logout</a></p>
            {{else}}
                <p><a id="logLink" href="/login">Login</a></p>
            {{/if}}
        </div>
        <div id="pageTitle">
            <h2 id="titletext">The tech Blog</h2>
        </div>
    </header>
    {{{body}}}
</body>
</html>