{{!-- <section class="addPostData">
    <div class="addPostHead">
        <p>Create New Post</p>
    </div>
    <p class="addPostTitleP">Title</p>
    <input class="addPostTitle">
    <p class="addPostTextP">Content</p>
    <textarea class="addPostText"></textarea>
    <button class="addPostBtn">Submit</button>
</section> --}}

<section class="addPosts">
    <div class="addPostsarea">
        <button class="addPostsBtn">Add Post</button>
    </div>
</section>
<script src="/js/dashboard.js"></script>