<div class="login">
    <section class="loginForm">
        <div class="loginFormhead">
            <p class="loginFormTitle">Login</p>
        </div>
        <form class="loginFormData">
            <label class="loginFormUserTitle">UserName</label>
            <input class="loginFormUser">
            <label class="loginFormPassTitle">Password</label>
            <input class="loginFormPass">
            <input type="submit" value="submit" class="loginFormSubmit">
        </form>
        <p class="signupIn"><a href="/">SignUp</a></p>
    </section>
    
    <section class="signupForm">
        <div class="signupFormhead">
            <p class="signupFormTitle">SignUp</p>
        </div>
        <form class="signupFormData">
            <label class="signupFormUserTitle">UserName</label>
            <input class="signupFormUser">
            <label class="signupFormPassTitle">Password</label>
            <input class="signupFormPass">
            <input type="submit" value="submit" class="signupFormSubmit">
        </form>
        <p class="signupIn"><a href="/">Login</a></p>
    </section>
    
</div>