<section class="signupForm">
    <div class="signupFormhead">
        <p class="signupFormTitle">SignUp</p>
    </div>
    <form class="signupFormData">
        <label class="signupFormUserTitle">UserName</label>
        <input class="signupFormUser">
        <label class="signupFormPassTitle">Password</label>
        <input class="signupFormPass">
        <input type="submit" value="submit" class="signupFormSubmit">
    </form>
    <p class="signupIn"><a href="/login">Login</a></p>
</section>
<script src="/js/signup.js"></script>